<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title>
			Toolingo!
		</title>
		
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<link rel="stylesheet" href="../static/css/toolingus.css">
	</head>
	<body>
		<div class="navbar">
				<div class="navbar1">
			<img src="../static/img/toolingobird.jpg" alt="badbird" height="75px">
			
        <a href="index">Home</a>
        <a href="/landing">Connect</a>
			</div>
		</div>
		<div class="mainpage">
		<div id="welcomesquare">
			<img src="../static/img/toolingobird.jpg" alt="badbird">
		
	</div>
		
		<p>Hello {{name}}</p>
<p>Thanks for signing up</p>

{% if [] == matches %} 
	<p>Sorry, we havent found any matches for you yet.</p>
	<p>When someone else matches with you, you will recieve an email.</p> 
{% endif %} 

{% if [] != matches %} 
	<p>Good news {{name}}, we have found matche(s) for you:</p>
	{% for person in matchNames %}
		<hr>
		{% for key,value in person.items() %}
			<p>{{key}}: {{value}}</p>
		{% endfor %}
	{% endfor %}
    
{% endif %} 


		<footer>
		
			<br>
			<p class="rreserve">© Toolingo Corps.™ All Rights Reserved.</p>
			
			<p class="morerreserve">Built with love at Lick-Wilmerding</p>
			<p class="evenmorerreserve">;)</p>
		</footer>
		</div>

	</body>
</html>





